@font-face {
  font-family: fakehope;
  font-style: normal;
  src: url("../font/FakeHope.ttf") format("truetype");
  font-display: swap;
}

#resetDiv,
.clock-controls {
  display: none;
}
.clock-item{
  line-height: initial;
}
.digit {
  display: inline-flex;
  width: 5vw;
  line-height: initial;
}

.btn {
  font-size: 2vw;
  transition: all 1.5s;
}

.btn:focus {
  border-color: aqua;
  border-radius: 20%;
}

#clock {
  font-family: fakehope, Arial, Helvetica, sans-serif;
  font-size: 10vw;
  user-select: none;
}
