.bg-silver{
  background-color: silver;
}

.itemText{
  background: transparent;
  border:none;
  color:black;
  cursor:pointer;
}

.btn-action{
  display: none;
}
.itemrow:hover .btn-action{
  display: inline;
}